*{
    background-color: wheat;
}
h3{
    font-weight:30px;
    color: red;
}
.main{
    
    width: 300px;
    
}
form{
    margin-top: 20px;
   width: 250px;
   height: auto;
   background-color: blue;
   border: 1px solid black;
   border-radius: 5px;
}
input[type="text"]{
        margin-top: 15px;
        width: 220px;
        height: 40px;
        background-color:white;
        font-weight: bold;
        font-size: larger;
        border: 1px solid black;
}
 input[type="button"]{
        width: 50px;
        height: auto;
        text-align: center;
        font-weight: bolder;
        font-size: larger;
        padding: 10px;
        margin: 2px;
        background-color: aqua;
        border: 2px solid black;
}
input[type="button"]:hover{
    width: 50px;
        height: auto;
        text-align: center;
        font-weight: bolder;
        font-size: larger;
        padding: 10px;
        margin: 2px;
        background-color: aqua;
        border: 2.5px solid wheat;
        border-radius: 15px;
        transition: 0.1s;
        cursor: pointer;
}

#del{
    width:150px;
    margin-bottom: 10px;
    color:red;
    border: 2px solid black;
}
#del:hover{
    border: 3px solid red;
    border-radius: 2px;
    transition: 0.5s;
    color: black;
    cursor: pointer;
}